// This file must be imported before loading html5-boilerplate

// base
$line-height: 1.4 !default;
$font-color: #222 !default;

$link-color: #00e !default;
$link-hover-color: #06e !default;
$link-visited-color: #551a8b !default;

$selected-font-color: #fff !default;
$selected-background-color: #ff5e99 !default;

$invalid-background-color: #f0dddd !default;

// 顏色定義

$primary: #e51c23;
$primary-lighten: #f9bdbb;
$primary-darken: #d01716;
$accent: #ffd740;
$accent-lighten: #ffe57f;
$accent-darken: #ffc400;

$purple: #9c27b0;
$deep-purple: #673ab7;
$blue: #1f6091;
$green: #259b24;
$light-green: #8bc34a;
$lime: #cddc39;
$header-bg: #f6f6f6;
$header-bottom-bg: #bcbcbc;
$border-color: #d9d9d9;
$main-font-color: #515151;

$background: #fff;

//susy grids
$total-columns: 12;
$gutter-width: 1em;
$container-width: 1280px;
$grid-padding: 0;
$container-style: magic;
$extra-large: 80em 12;
$large: 60em 12; 
$medium: 48em 12 lt-ie9;
$small: 35em 12;

