footer {
  @include span-columns(12, 12);
  background: #3c3c3c;
  color: #f1f1f1;
  @include box-sizing(border-box);
  padding: 8px;
  ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li {
    text-align: center;
  }
  .list-wrapper {
    @include span-columns(12, 12);
    &:last-of-type {
      @include omega;
    }
    @include at-breakpoint($small) {
      width: 147px;
    }
    @include box-sizing(border-box);

    height: 100px;
    @include inline-block();
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 8px;
    @include at-breakpoint($small) {
      border-right: 1px solid #f1f1f1;
      border-bottom: 0;
    }
    .title {
      font-size: 20px;
      margin-bottom: 5px;
    }
    text-align: center;
    .fb-like {
      margin: 0 auto;
    }
  }
  a {
    color: #f1f1f1;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .footer-bottom {
    border-top: 1px solid #f1f1f1;
    width: 100%;
    padding: 8px;
    text-align: center;
    clear: both;
  }
  .newsletter-wrapper {
    @include inline-block();
    @include span-columns(12, 12);
    text-align: center;
    padding: 0.5em;
    @include box-sizing(border-box);
    @include at-breakpoint($small) {
      width: 300px;
      text-align: left;
      padding-bottom: 8px;
    }
    // height: 100px;
    float: right;
    .ss-q-item-label {
      display: none;
    }
    .solgan {
      margin-bottom: 8px;
    }
  }
}

.custom-service-wrapper {
  @include inline-block();
  @include span-columns(12, 12);
  @include box-sizing(border-box);
  text-align: center;
  padding: 0.5em 0;
  @include at-breakpoint($small) {
    width: 300px;
    border-top: none;
    float: right;
    padding: 0.5em 2em;
  }
  .service-wrapper {
    @include inline-block();
    width: 80px;
    height: 80px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .service-solgan-wrapper {
    @include inline-block();
  }
}

#subscribe-ss-form {
  .ss-form-question {
    width: 200px;
    @include inline-block();
  }
  input[type="email"] {
    width: 200px;
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    color: #8a97a0;
    background-color:#e8eeef;
    @include box-shadow(inset 0 1px 0 rgba(0,0,0,0.03));
  }
  input[type="submit"] {
    width: 90px;
    padding: 12px;
  }
}