.buy-used-cars-wrapper {
}
.buy-used-cars {
  position: relative;
  @include box-sizing(border-box);
  padding: 16px 8px;
  color: $main-font-color;
  @include span-columns(12, 12);
  a {
    color: $main-font-color;
    text-decoration: none;
  }
  .filter-wrapper {
    @include span-columns(12, 12);
    margin-bottom: 16px;
    @include at-breakpoint($large) {
      width: 300px;
      position: absolute;
      top: 16px;
      left: 8px;
      margin-bottom: 0;
    }
    border: 1px solid $border-color;
    padding: 1em;
    > .filter {
      border-bottom: 1px solid $border-color;
      &:last-child {
        border-bottom: 0;
      }
    }
    .title {
      font-size: 18px;
    }
    a {
      &:hover {
        color: $blue;
        font-weight: 700;
      }
    }
  }
  .car-results {
    @include at-breakpoint($large) {
      padding-left: 320px;
    }
    @include span-columns(12, 12);
    @include omega;
    min-height: 1000px;
  }
  .car-result {
    @include span-columns(12, 12);
    @include at-breakpoint($medium) {
      @include span-columns(6, 12);
      &:nth-child(2n) {
        @include omega;
      }
    }
    border: 1px solid $border-color;
    margin-bottom: 16px;
    &:hover {
      @include box-shadow(
        3px 0px 0px 0px rgba(#d9d9d9, 1),
        3px 3px 0px 0px rgba(#d9d9d9, 1),
        -3px 3px 0px 0px rgba(#d9d9d9, 1),
        -3px 0px 0px 0px rgba(#d9d9d9, 1)
      );
    }
    .img-wrapper {
      width: 100%;
      padding-top: 56.25%;
      background-color: #333;
      position: relative;
    }
    .img-link {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .more {
      display: block;
      width: 40px;
      height: 40px;
      background: $blue;
      color: #f1f1f1;
      line-height: 40px;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 20px;
    }
    .car-description {
      padding: 1em 1em 0 1em;
      .title {
        font-size: 18px;
      }
    }
    .car-price {
      font-size: 24px;
      color: $blue;
      font-weight: 700;
    }
    .detail-list {
      list-style-type: none;
      margin: 8px 0;
      padding: 0;
      font-size: 0;
      li {
        display: inline-block;
        font-size: 16px;
        padding: 0 0.5em;
        border-right: 1px solid $main-font-color;
        &:first-child {
          padding: 0 0.5em 0 0;
        }
        &:last-child {
          border-right: 0;
        }
      }
    }
    .label-wrapper {
      border-top: 1px solid $border-color;
      padding: 8px 0;
      text-align: right;
      .label {
        font-size: 14px;
      }
    }
  }

  @include at-breakpoint($extra-large) {
    padding: 16px 0;
    .filter-wrapper {
      top: 16px;
      left: 0;
    }
  }
}